@tailwind base;
@tailwind components;
@tailwind utilities;

/*서브타이틀*/
@font-face {
  font-family: "NotoSerifKR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/*인용구*/
@font-face {
  font-family: "Dovemayo-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Medium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/*작가명*/
@font-face {
  font-family: "NPSfontBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/*제목*/
@font-face {
  font-family: "KimjungchulMyungjo-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "Pretendard-Regular" !important, "NotoSerifKR", "Dovemayo-Medium",
    "KimjungchulMyungjo-Bold", "NPSfontBold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.button-a {
  @apply bg-nemil-sky border border-nemil-blue text-nemil-blue font-semibold hover:text-[#52565a] rounded-xl text-lg drop-shadow-md py-2.5 px-2;
}

.vertical-text {
  writing-mode: vertical-lr;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 
  z-index: 1000; 
 
}
