@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NotoSerifKR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "NotoSerifKR" !important, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "NotoSerifKR" !important;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.button-a {
  @apply bg-nemil-sky border border-nemil-blue text-nemil-blue font-semibold hover:text-black rounded-xl text-lg drop-shadow-md py-2.5 px-2;
}

.vertical-text {
  writing-mode: vertical-lr;
}
